.button{
    background-color: azure;
    border-style: solid;
    border-color: black;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
}


.button:hover {background-color: rgb(29, 231, 231)}



.button:active {
  background-color:  rgb(27, 149, 149);
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}